<html>
  <head><title>Error 404: Light Source Not Found</title></head>
  <body>
     <h1>Error 404: Light Source Not Found</h1>
     <p>You have been eaten by a grue.</p>
     <p><a href="/">START OVER</a></p>
  </body>
</html>
