<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= "#{@site_initials}: #{@page_title}" %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  </head>
  <body>
    <h1><%= "#{@site_title}: #{@slogan}" %></h1>

    <div class="content">
      <%= @content %>
    </div>

    <div class="footer">
      <%= @footer %>
    </div>
  </body>
</html>
